---
---

@import "{{ site.theme }}";


.wrapper {
    max-width:1050px;
}

section {
    max-width:1050px;
}

#header {  
    position: absolute;
    nav {  
      max-width: 1050px;
      ul {
        li {
          &.downloads {
            float: left;
            margin-left: 6px;
          }
          a {
            color: black;
            background: linear-gradient(#ffc904, #ffcc00);
            background-color: #b79200;            
            border: 1px solid #b79200;
            &.hover {                
                background: linear-gradient(#b38d04, #b79200);
                background-color: #b79200;                
                border: 1px solid #b79200;
            }
          }
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
  }
  
  .left-container, .right-container {
    flex: 1;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }